<!-- Header -->
<header>
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 style="color: #834cbc;">Pride in Microbiology Community Voices</h2>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center" style="padding-top: 25px;">
          <p style="text-align: center;">Pride in Microbiology is proud to publish commentaries from authors across the 2SLGBTQIA+ community in the field of Microbiology. Here, you'll find stories about building connections, tackling barriers, digging into research, or pushing for change.</p>
          <p style="text-align: center;">Interested in contributing? Contact our primary editor, Dr. Landon Getz, at landon (dot) getz (at) utoronto (dot) ca or fill out this <a href="form" style="color: #b48ead; font-weight: bold;">google form</a></p>
        </div>
      </div>
    </div>
  </section>
</header>