<!-- Header -->
<header>
  <div class="container">
          <h1>Pride in Microbiology Community Voices</h1>
          <p style="text-align: left;">Pride in Microbiology is proud to publish commentaries from authors across the 2SLGBTQIA+ community in the field of Microbiology. Here, you’ll find stories about building connections, tackling barriers, digging into research, or pushing for change.</p>
          <p style="text-align: left;">Interested in contributing? Contact our primary editor, Dr. Landon Getz, at landon (dot) getz (at) utoronto (dot) ca or fill out this <a href="form">google form</a></p>
  </div>
</header>