<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row" style="margin-top: 40px; min-height: 100%;">
      <!-- Contact Form Column -->
      <div class="col-md-6">
        <div class="text-center">
          <h2>Join the Network</h2>
          <hr class="email-primary">
        </div>
        <form action="https://formspree.io/f/xlekawjg" method="POST" name="sentMessage" id="contactForm" novalidate>
          <div class="form-group floating-label-form-group controls">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" placeholder="Name" id="name" required
              data-validation-required-message="Please enter your name.">
          </div>
          <div class="form-group floating-label-form-group controls">
            <label for="email">Email Address</label>
            <input type="email" name="_replyto" class="form-control" placeholder="Email Address" id="email" required
              data-validation-required-message="Please enter your email address.">
          </div>
          <div style="display:none">
            <input type="hidden" name="_subject" value="New submission!">
            <input type="text" name="_gotcha" />
          </div>
          <div class="form-group floating-label-form-group controls">
            <label for="message">Message</label>
            <textarea rows="1" name="message" class="form-control" placeholder="Message" id="message" required
              data-validation-required-message="Please enter a message."></textarea>
          </div>
          <div id="success"></div>
          <div class="form-group text-center" style="padding: 20px;">
            <button type="submit" class="btn btn-primary btn-lg"><h4>Send</h4></button>
          </div>
        </form>
      </div>

      <!-- Discord Box Column -->
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div class="text-center">
          <h2>Join our Discord Server</h2>
          <hr class="discord-primary">
          <a href="https://discord.gg/JEk9XTe4qM" role="button" class="btn btn-primary btn-lg">
            <h4>Join the Discord!</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
