<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
  {% include post_nav.html %}

  <header>
    <div class="container" style="padding-top: 150px;">
      <h1 style="color: #834cbc;">{{ page.title }}</h1>
      <p style="font-size: x-large;"><strong>By:</strong> {{ page.author }}</p>
      <p><strong>Affiliation:</strong> {{ page.affiliation }}</p>
      <p><strong>Date:</strong> {{ page.date | date: "%B %d, %Y" }}</p>
    </div>
  </header>

  <div class="container">
    <div class="row" style="margin-left: 10%; margin-right: 10%;">
      <div class="col-md-12">
        <img src="{{ site.url }}/img/posts/{{ page.img }}" class="img-responsive" alt="{{ page.alt }}" style="width:100%; height:auto;">
      </div>
    </div>

    <div class="row" style="margin-top: 50px; margin-left: 10%; margin-right: 10%;">
      <div class="col-md-12">
        <div class="post-content" style="color: black;">
          {{ content }}
          <hr>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
</body>

</html>