<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
  {% include post_nav.html %}

  <header>
    <div class="container" style="padding-top: 100px;">
      <h1>{{ page.title }}</h1>
      <p><strong>By:</strong> {{ page.author }} | <strong>Affiliation:</strong> {{ page.affiliation }} | <strong>Date:</strong> {{ page.date | date: "%B %d, %Y" }}</p>
    </div>
  </header>

  <div class="container" style="padding-top: 25px;">
    <div class="row" style="margin-left: 10%; margin-right: 10%;">
      <div class="col-md-12">
        <img src="{{ site.url }}/img/posts/{{ page.img }}" class="img-responsive" alt="{{ page.alt }}" style="width:100%; height:auto;">
      </div>
    </div>

    <div class="row" style="margin-top: 50px; margin-left: 10%; margin-right: 10%;">
      <div class="col-md-12">
        <hr class="star-primary">
        <div class="post-content">
          {{ content }}
        </div>
        <hr class="star-primary">
      </div>
    </div>
  </div>

  {% include post_contact.html %}
  {% include footer.html %}
</body>

</html>